<div class="container">
  <div class="intro mat-elevation-z3">
    <div class="intro-content">
      <div id="name" class="mat-headline">MAX MUSTERMANN</div>
      <div id="work" class="mat-subheading-1">Web-Developer</div>
      <div class="contact-details">
        <mat-icon>email</mat-icon>
        <a href="mailto:muster@mail.de">muster@mail.de</a>
      </div>
      <div class="contact-details">
        <mat-icon>language</mat-icon>
        <a href="https://www.google.de">www.google.de</a>
      </div>
      <div class="contact-details">
        <mat-icon>phone</mat-icon>
        <span>+49 1234 56 78 9</span>
      </div>
      <div class="contact-details">
        <mat-icon>location_on</mat-icon>
        <span>Hauptstraße 1, 11111 Berlin</span>
      </div>
    </div>
    <div class="intro-picture"></div>
  </div>
  <mat-card class="mat-elevation-z3">
    <mat-card-content>
      Hello There! It's me!
    </mat-card-content>
    <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-raised-button color="primary">DOWNLOAD CV</button>
        <button mat-raised-button color="primary">CONTACT ME</button>
    </mat-card-actions>
  </mat-card>
  <div class="heading">
    <h1 class="mat-headline">
      <mat-icon>assessment</mat-icon>
      SKILLS
    </h1>
  </div>
  <mat-card class="skills mat-elevation-z3">
    <mat-card-content>
      <h1 class="mat-subheading-1">Test</h1>
      <div>test</div>
    </mat-card-content>
    <mat-card-content>
      <h1 class="mat-subheading-1">Test</h1>
    </mat-card-content>
    <mat-card-content>
      <h1 class="mat-subheading-1">Test</h1>
    </mat-card-content>
  </mat-card>
</div>
