<div class="item-group">
  <p class="mat-h2">Tech</p>
  <div class="item">
    <span>Angular</span>
    <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar>
  </div>
  <div class="item">
    <span>NodeJS</span>
    <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar>
  </div>
</div>
<div class="item-group">
  <p class="mat-h2">Tech</p>
  <div class="item">
    <span>Angular</span>
    <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar>
  </div>
  <div class="item">
    <span>NodeJS</span>
    <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar>
  </div>
</div>
<div class="item-group">
  <p class="mat-h2">Tech</p>
  <div class="item">
    <span>Angular</span>
    <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar>
  </div>
  <div class="item">
    <span>NodeJS</span>
    <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar>
  </div>
</div>
